[class*="abc"] {
    color:red;
    text-decoration: none;
}

.abc_One:hover{
    color: yellowgreen;
}

.abc_Two:hover{
    font-size: large;
}

.abc_Three:hover{
    background-color: green;
}

.abc_Four:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.abc_Five:hover{
    text-decoration: underline;
}
